%h2 Show link

%ul

  %li
    %strong Url:
    = @link.url

  %li
    %strong Title:
    = @link.title

  %li
    %strong User:
    = @link.user_id

  -# %li
  -#   %strong Screenshot path:
  -#   = @link.screenshot_path

= link "Back", to: link_path(@conn, :index)
